﻿<table  class="table table-striped">
    <thead>
        <tr>
            <td>Путь</td>
            <td>Тип</td>
            <td>Событие</td>
            <td>Дата</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let m of models">
            <td>{{m?.path}}</td>
            <td>{{m?.typeObj}}</td>
            <td>{{m?.typeEvent}}</td>
            <td>{{m?.dateOfChange}}</td>
        </tr>
    </tbody>
</table>